
body{
    background-color:antiquewhite;
    color:rgb(3, 0, 10);
}

h1 {
    text-align:center;

}


h2 {
    text-align:center;
    border-style:solid;
    border-radius:100%;
}

img{
    height:250px;
    
}

.table1 {
    width:50%;

}

table, th, td, tr {
    border:1px solid black;
    
}
tr {
    text-align: left;
}
